$primary: rgb(181, 151, 88);
$primary-dark: rgb(147, 115, 65);
$primary-light: rgb(196, 185, 152);
$border-dark: rgb(38, 38, 38);
$border-color: rgb(65, 59, 48);
$border-light: rgb(103, 91, 73);
$background-color: rgb(19, 19, 21);
$background-light: rgb(26, 29, 33);
