@import 'colors';

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins/breakpoints';

.app-container {
  padding: 50px;
}

.app-title {
  text-align: center;
  margin-bottom: 50px;
  color: $primary-light;
  font-weight: bold;
}

@include media-breakpoint-down(sm) {
  .app-container {
    padding: 30px;
  }

  .app-title {
    font-size: 32px;
  }
}

@include media-breakpoint-down(xs) {
  .app-container {
    padding: 10px;
  }

  .app-title {
    font-size: 24px;
  }
}

