<div class="scroll">
  <div class="app-container">
    <div class="app-header">
      <h1 class="app-title">League Screensaver Downloader</h1>
    </div>
    <app-asset-groups class="app-body"></app-asset-groups>
  </div>
  <div class="app-footer">
    <p>League Screensaver Downloader isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends Artwork &copy; Riot Games, Inc.</p>
    <p>League Screensaver Downloader Copyright &copy; 2017 nicoco007</p>
  </div>
</div>
