<div *ngIf="data">
  <div class="main-navigation">
    <ul class="nav nav-pills asset-group-types justify-content-center">
      <li *ngFor="let groupType of data['assetGroupTypes']; let first = first" class="nav-item">
        <a class="nav-link" [class.active]="activeId ? groupType['id'] === activeId : first" href (click)="!!select(groupType['id'])">{{dataService.translate(groupType['nameTranslateId'])}}</a>
      </li>
    </ul>
  </div>
  <div class="tab-content asset-group-type-container">
    <div *ngFor="let groupType of data['assetGroupTypes']; let first = first" class="tab-pane asset-group-type active" [@paneState]="(activeId ? groupType['id'] === activeId : first) ? 'active' : 'inactive'" role="tabpanel">
      <div class="asset-group-container d-flex justify-content-center flex-wrap">
        <div *ngFor="let group of data['assetGroups'] | tagfilter: groupType['id'] | translationsort; let i = index" class="asset-group" (click)="open(modal, group)">
          <img class="background" src="https://screensaver.riotgames.com/latest/content/{{group['previewThumbnailUrl']}}">
          <div class="footer">
            <div class="inner">{{dataService.translate([group['nameTranslateId']])}}</div>
          </div>
          <div class="overlay">
            <div class="inner d-flex justify-content-center"><span class="align-self-center">{{dataService.translate([group['nameTranslateId']])}}</span></div>
            <div class="footer">
              <div class="inner">View All<br/>({{group['assets'].length}})</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div #modal class="modal slide-bottom full-screen">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-default close" data-dismiss="modal" aria-label="Close" (click)="dismiss(modal)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="group" class="modal-title-container">
            <h1 class="modal-title">{{dataService.translate(group['nameTranslateId'])}}</h1>
          </div>
          <div *ngIf="assets">
            <div class="assets-container d-flex justify-content-center flex-wrap">
              <div *ngFor="let asset of assets;" class="asset align-self-center">
                <div [ngSwitch]="asset['type']" class="background">
                  <img *ngSwitchDefault src="https://screensaver.riotgames.com/latest/content/{{asset['thumbnailUrl']}}"/>
                  <video *ngSwitchCase="'video/webm'" autoplay loop>
                    <source src="https://screensaver.riotgames.com/latest/content/{{asset['thumbnailVideoUrl']}}" type="video/mp4">
                  </video>
                </div>
                <div class="overlay">
                  <a class="download d-flex justify-content-center" href="http://content.nicoco007.com/lolwd/serve.php?asset={{asset['videoUrl'] ? asset['videoUrl'] : asset['url']}}">
                    <span class="inner align-self-center">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" version="1.1">
                        <g id="surface">
                          <path style="" d="M 15 4 L 15 20.5625 L 9.71875 15.28125 L 8.28125 16.71875 L 15.28125 23.71875 L 16 24.40625 L 16.71875 23.71875 L 23.71875 16.71875 L 22.28125 15.28125 L 17 20.5625 L 17 4 Z M 7 26 L 7 28 L 25 28 L 25 26 Z"></path>
                        </g>
                      </svg>
                      <br/>
                      Download<br/>{{humanReadableFileSize(asset['size'])}}
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
