<div class="container">
  <div *ngIf="data">
    <ngb-tabset type="pills" justify="center" class="asset-group-types">
      <ngb-tab *ngFor="let type of data['assetGroupTypes']" title="{{type['id']}}">
        <ng-template ngbTabContent>
          <h1 class="text-center">{{dataService.translate([type['nameTranslateId']])}}</h1>
          <div class="asset-groups d-flex flex-row flex-wrap justify-content-center">
            <div class="asset-group" *ngFor="let group of data['assetGroups'] | tagfilter: type['id'] | translationsort">
              <img src="https://screensaver.riotgames.com/latest/content/{{group['previewThumbnailUrl']}}"><br/>
              <span class="text-center">{{dataService.translate([group['nameTranslateId']])}}</span>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
