<div *ngIf="data">
  <ul class="nav justify-content-center">
    <li class="nav-item" *ngFor="let type of data['assetGroupTypes']">
      <a class="nav-link" href="#">{{type['id']}}</a>
    </li>
  </ul>
  <ul class="asset-group-types">
    <li class="asset-group-type" *ngFor="let type of data['assetGroupTypes']">
      <h1 class="text-center">{{dataService.translate([type['nameTranslateId']])}}</h1>
      <ul class="asset-groups d-flex justify-content-center flex-wrap">
        <li class="asset-group" *ngFor="let group of data['assetGroups'] | tagfilter: type['id'] | translationsort">
          <img src="https://screensaver.riotgames.com/latest/content/{{group['previewThumbnailUrl']}}"><br/>
          <div class="text-center">{{dataService.translate([group['nameTranslateId']])}}</div>
        </li>
      </ul>
    </li>
  </ul>
</div>
