@import 'colors';

.nav-pills {
  margin: 0 10px;
  .nav-link {
    padding: 10px 20px;
    border-radius: 0;
    cursor: pointer;
    background-color: transparent;
    color: $primary;
    opacity: 1;
    transition: .2s linear all;
    outline: 0;
    letter-spacing: 2px;
    border: 0;
    border-bottom: 1px solid $border-dark;

    &:hover, &:focus, &:active, &.active {
      background: transparent;
      color: $primary-light;
      opacity: 1;
      outline: 0;
      box-shadow: none;
      border-bottom: 1px solid $border-color;
    }
  }
}

.asset-group-types {
  .group-type-navigation {
    margin: 40px 15px;

    .left {
      padding: 0;

      .dropdown-toggle {
        position: relative;
        font-weight: bold;
        text-align: left;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          width: 1px;
          height: 40px;
          margin-top: -20px;
          background-color: #262626;
          right: -1px;
          z-index: -1;
        }

        &::after {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: .255em;
          content: "";
          border-top: .45em solid;
          border-right: .3em solid transparent;
          border-left: .3em solid transparent;
          right: 15px;
          position: absolute;
          top: 50%;
          margin-top: -0.125rem;
        }
      }
    }

    .title {
      text-align: center;
      font-size: 24px;
      padding: 12px 0 22px 0;
      color: $primary-light;
      font-weight: normal;
    }
  }

  .asset-group-type {
    width: 100%;
  }
}

.background {
  max-width: 100%;
  height: auto;
}

.asset-groups {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .asset-group {
    cursor: pointer;
    margin: 13px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.3);

    & > .background {
      transition: 200ms all;
    }

    & > .footer {
      transition: 200ms all;
      opacity: 1;
      position: absolute;
      display: flex;
      justify-content: center;
      bottom: 0;
      left: 0;
      right: 0;
      height: 60px;
      background: rgba(19, 19, 21, 0.88);
      border-top: 1px solid rgb(134, 106, 61);
      margin: 0 -1px -1px -1px;

      & > .inner {
        align-self: center;
        font-size: 13px;
        color: rgb(196, 185, 152);
      }
    }

    & > .overlay {
      transition: 200ms all;
      opacity: 0;
      margin: -1px;

      background-color: rgba(0, 0, 0, 0.65);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 10px;
      text-align: center;

      & > .overlay-inner {
        display: flex;
        justify-content: center;
        border: 1px solid #322b22;
        width: 100%;
        height: 100%;
        font-size: 13px;
      }

      & > .overlay-footer {
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;

        & > .overlay-footer-inner {
          text-align: center;
          font-weight: 500;
          color: rgb(196, 185, 152);
        }
      }
    }

    &:hover {
      .background {
        filter: grayscale(100%);
      }

      & > .footer {
        opacity: 0;
      }

      & > .overlay {
        opacity: 1;
      }
    }
  }
}

.assets {
  margin: 0 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .asset {
    display: block;
    cursor: pointer;
    margin: 13px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);

    .background {
      transition: 200ms all;
      display: block;
    }

    .overlay {
      transition: 200ms all;
      opacity: 0;

      background-color: rgba(0, 0, 0, 0.65);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 10px;

      a.download {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .overlay-inner {
          width: 100%;

          svg {
            fill: $primary-dark;
            width: 20%;
          }
        }
      }
    }

    &:hover {
      .background {
        filter: grayscale(100%);
      }

      .overlay {
        transition: 200ms all;
        opacity: 1;
      }
    }
  }
}
